:root {
  --uwa-blue: #003087;
  --uwa-gold: #DAAA00;
  --light-blue: #007bff;
}
body {
  background-color: #f8f9fa;
  color: var(--uwa-blue);
 }
#guess-map {
  width: 100%;
  aspect-ratio: 4 / 3;
  border: 2px dashed var(--light-blue);
  position: relative;
  cursor: grab;
  overflow: hidden;
  touch-action: none;
  max-height: 75vh;
}
#guess-map-content {
  transform-origin: top left;
  transition: transform 0.1s ease;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('images/UWA_map.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
.pin {
  position: absolute;
  transform: translate(-50%, -100%);
  font-size: 24px;
  transition: top 0.2s, left 0.2s;
  z-index: 10;
}
#guess-feedback {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color:white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  color: var(--uwa-gold);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
  z-index: 20;
}
#guess-feedback.show {
  opacity: 1;
}
#guess-image {
  width: 100%;
  object-fit: cover;
}
.button-warning {
  color: --uwa-gold;
}